API_PORT=10001
DATABASE_PORT=5432
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db
JWT_SIGNING_KEY=a_very_long_and_secure_random_string_here_12345!
OPENROUTE_API_KEY=your_actual_api_key_here